.Container {
   align-items: 'center'
}

.Search-Heading {
   color:#ffff;
}
.Mid-Heading {
    color: #ffff
}

.Search-Input {
    width: 300px;
    margin-left: 10;
}
.Search-Button {
    background-color: red;
}
.MainContainer {
    padding: 50px;
}