.MainContainer {
    padding-top: 50px;
}
.Filters {
    text-align: left;
    margin-top: 100px;
    float:left; 
    background-color: white;
    position:relative;
    padding:20px
}
.Restaurants{
  /* width:300px;  */
  float: center;
  text-align: center;
}